<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div id="map"></div>

<div *ngIf="isLoading">
  <loadinglayer></loadinglayer>
</div>

<div *ngIf="!isLoading">

<div id="sidebar" class="navbar">
  <div class="sidebar-section">

  <div class="sidebar-section">
    <h2> {{'info' | translate}}:</h2>
    <div class="info-row">
      <div>
        <b>{{'houses' | translate}} <i class="fas fa-home"></i></b>
        <span>{{ total_houses }}</span>
      </div>
    </div>
    <div class="info-row">
      <div>
        <b>{{'avg' | translate}} <i class="fas fa-dollar-sign"></i></b>
        <span>$ {{ average }}</span>
      </div>
    </div>
  </div>

  <h2>{{'nearby' | translate}}</h2>

  <mat-form-field appearance="fill" class="pink-transparent">
    <mat-select (selectionChange)="handleIconSelect($event)">
      <mat-option *ngFor="let icon of icons" [value]="icon.value">
        <i class="{{ icon.class }} fa-2x"></i>
        {{ icon.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h2>{{'traffic-info' | translate}}</h2>
  <mat-form-field appearance="fill">
    <mat-select [(value)]="selectedLayer" panelClass="my-select-panel-class">
      <mat-option mat-option value="traffic" (click)="traffLayer()">
        <i class="fa fa-traffic-light fa-2x"></i>
        {{'traffic' | translate}}
      </mat-option>
      <mat-option mat-option value="transit" (click)="transLayer()">
        <i class="fa fa-subway fa-2x"></i>
        {{'subway' | translate}}
      </mat-option>
      <mat-option mat-option value="bicycling" (click)="bikeLayer()">
        <i class="fa-solid fa fa-bicycle fa-2x"></i>
        {{'cycle' | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="botao-buscar" (click)="searchHousesPolyg()">
    {{'search' | translate}}
  </button>
</div>
</div>


