<mat-dialog-content class="mat-typography content-wrapper">
    <div class="centered">
      <h1>Choose a language</h1>
      <h1>Escolha o idioma</h1>
    </div>
  
    <mat-dialog-actions align="center" class="centered">
      <button mat-button mat-dialog-close>
        <div class="flag" >
          <img src="../../assets/img/icons/br.PNG" >
        </div>
      </button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        <div class="flag" >
          <img src="../../assets/img/icons/eua.PNG" >
        </div>
      </button>
    </mat-dialog-actions>
  </mat-dialog-content>
  
